.encima{
    font-family: cursive;
}
.encima:hover{
    color: white;
    background-color: green;
}

.encima::before {
    content: "Pasa por encima"
}
.encima:hover::before {
    content: "¡Hecho!"
}