* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    font-size: 2rem;
}

.barra {
    background-color: aquamarine;
    color: blue;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.contenido {
    padding: 10px;
    flex-grow: 1;
}

@media (max-width: 640px) {
    body {
        flex-direction: column-reverse;
    }
    .barra {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
.imagen{
    width: 2rem;
    height: 2rem;
}